<div class="box-body">
    <fieldset style="padding-bottom:10px;">
    {% include "AppBundle:Requerimiento:partial-info.html.twig" with {'entity':entity.requerimiento} %}
    </fieldset>
    <fieldset style="padding-bottom:10px;">
        <div class="col-md-3">
            <span><strong>Fecha/hora:</strong>&nbsp;{{entity.fechaOrden|date('d-m-Y H:i')}}</span>                        
        </div>    
        <div class="col-md-4">
            <span><strong>Tipo de Incidencia:</strong>&nbsp;{{entity.tipoSoporte}}</span>
        </div> 
        <div class="col-md-3">
            <span><strong>Técnico:</strong>&nbsp;{{entity.tecnico.nombre}}</span>
        </div> 
        <div class="col-md-2">
            <span><strong>N° JIRA:</strong>&nbsp;{{entity.jira}}</span>
        </div>         
    </fieldset>                                    
    <fieldset style="padding-bottom:10px;">
        <div class="col-md-{{ entity.estado=='CERRADO' and app.user.access('ordentrabajo') ? '8' : '10'}} ">
            <span><strong>Descripcion de la Orden de Trabajo:</strong>&nbsp;{% if entity.descripcion %} {{entity.descripcion}} {% else %} -- {% endif %} </span>                        
        </div>           
        <div class="col-md-2">
            <span><strong>Estado:</strong>&nbsp;{{entity.estado}}</span>
        </div> 
        {% if entity.estado=='CERRADO' and app.user.access('ordentrabajo') %}
        <div class="col-md-2">
            <a href="{{path('soporte_ordentrabajo_reabrir', { 'id': entity.id })}}" class="btn btn-danger"> <i class="fa fa-refresh"></i>&nbsp; Reabrir OT</a>
        </div>     
        {% endif %}
    </fieldset>
    <div class="col-md-12" style="text-align:center;margin:15px;"> 
        {% if entity.reubicacionEquipo >0 %}
            <a href="{{ path('print_entrega_equipo',{'id':entity.id})}}" class="btn btn-default" target="_blank" ><i class="fa fa-print"></i>&nbsp; Acta Reubicación de Equipos</a>                                                    
        {% endif %}
        {% if entity.reemplazoEquipo >0 %}
            <a href="{{ path('print_reemplazo_equipo',{'id':entity.id})}}" class="btn btn-default" target="_blank" ><i class="fa fa-print"></i>&nbsp; Acta Reemplazo de Equipos</a>                                                    
        {% endif %}
        <a href="{{ path('print_ordentrabajo_resumen', { 'id': entity.id }) }}" target="_blank" class="btn btn-default printOTResumen"> <i class="fa fa-print"></i>&nbsp; Imprimir OT</a>
        <a href="{{ path('print_ordentrabajo', { 'id': entity.id }) }}" target="_blank" class="btn btn-default printOrdentrabajo"> <i class="fa fa-print"></i>&nbsp; OT Detallada</a>
        
        {% if entity.estado=='ABIERTO' %}
            {% if entity.tecnico.id == app.user.id %}
                <a href="{{ path('soporte_ordentrabajo_tareas', { 'id': entity.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-warning"><i class="fa fa-briefcase"></i>&nbsp; Registrar Tareas</a>
            {% elseif app.user.access('ordentrabajo_edit') %}
                <a href="{{ path('soporte_ordentrabajo_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i>&nbsp; Editar OT</a>
            {% endif %}
        {% endif %}            
        
    </div>
    
    <div class="col-md-12">
        <div class="col-md-12">
            <h6 id="otdocs" class="text-blue" style="{% if not entity.getDocumentos %}display:none;{%endif%}padding:8px 10px;background:#eee;font-weight:bold;margin:2px 0 0 0;">DOCUMENTACIÓN ANEXA</h6>
            {% if entity.getDocumentos %}                          
                {% include "AppBundle:OrdenTrabajo:show-documentos.html.twig" with {'documentos':entity.documentos } %}                             
            {% endif %}
            <br>
        </div>  
    </div>    
        
    <div class="col-md-12">
        <div class="col-md-12">
            <h6 id="hgrales" class="text-red" style="{% if not entity.getTareasGenerales %}display:none;{%endif%}padding:8px 10px;background:#eee;font-weight:bold;margin:2px 0 0 0;">TAREAS GENERALES</h6>
            {% if entity.getTareasGenerales %}                          
                {% include "AppBundle:OrdenTrabajo:prototype-tarea.html.twig" with {'tareas':entity.tareas,'gr': 1 } %}                             
            {% endif %}
        </div>  
    </div>           
    {% if entity.detalles|length>0 %}    
    <div class="col-md-12">
        <div class="col-md-12">
            <h5 class="text-yellow" style="margin:10px 0 4px;">EQUIPOS ASOCIADOS</h5>
            <hr style="margin:0;border:2px solid #f39c12;">
            <table id="equipos" class="table">
                <thead>
                    <tr>
                        <th style="width:3%">#</th>
                        <th style="width:12%">Código de Barra</th>
                        <th style="width:42%">Tipo - Descripción - N° de Serie - Marca - Modelo</th>
                        <th style="">Obs. Adicionales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in entity.detalles  %}        
                        <tr class="item" style="background-color:gainsboro;" divdata="item_items">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.equipo.barcode }}</td>
                            <td>{{ item.equipo.textoOT }}</td>    
                            <td>{{ item.descripcion }}</td> 
                        </tr>
                        {% if item.tareas|length>0 %}
                        <tr>
                            <td class="no-padding" colspan="5">
                                <div>
                                    <h6 id="hgrales" class="text-red" style="{% if not entity.getTareasGenerales %}display:none;{%endif%}padding:8px 10px;background:#eee;font-weight:bold;margin:2px 0 0 0;">TAREAS</h6>
                                    {% include "AppBundle:OrdenTrabajo:prototype-tarea.html.twig" with {'tareas':item.tareas,'gr':0, 'tipo':item.tipoRecambio} %}
                                </div>  
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div> 
   {% endif %}
</div> 
{% include "admin-form-data.html.twig" with {'table':entity} %}  