{% extends "dataTableList.html.twig" %}
{% block avanzu_admin_menumode %}sidebar-collapse sidebar-open {% endblock %}
{% block page_content %}
    {% include "notification.html.twig" %}    
    <style>
        table.equipolist tbody td:not(.tdnormal){
            font-size: 12px !important ;
        }
        #filterData span, #summaryData span{
            font-size: 12px;
            padding: 3px 10px;
        }
        .periodo-compra{
            display:inline-block;
        }
        table.equipolist tbody td.plus,table.equipolist tbody th.plus{
            vertical-align: middle;
            text-align: center;
            color: gray;
            padding:0;
        }
    </style>
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-solid {{ box_color }}'>
                <div class='box-header'>
                    <h3 class='box-title'><i class="fa fa-desktop"></i> &nbsp; Listado Completo de Equipos </h3>                         
                </div><!-- /.box-header -->
                <div class='box-body'>   
                    {% set filtro = app.session.get('filtro_admin_list') %}
                    <form id="searchform" action="{{ path('get_admin_list') }}" method="get" >
                        <div class="col-md-12 no-padding">
                            <fieldset>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="required">Tipos:</label>
                                        <select class="select2 form-control" name="tipo" id="selectTipo">
                                            <option value="0">Todos</option>
                                            {%for tipo in tipos %}
                                                <option {%if tipo.id == filtro['tipo']%} selected="selected" {%endif%} value="{{tipo.id}}">{{tipo.nombre}}</option>
                                            {% endfor %} 
                                        </select> 
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="required">Estado:</label>
                                        <select class="select2 form-control" name="estado" id="selectEstado">
                                            <option value="T" {%if filtro['estado']=='T' %} selected="selected" {%endif%}>Todos</option>
                                            {%for estado in estados %}
                                                <option {%if estado.id==filtro['estado']%} selected="selected" {%endif%} value="{{estado.id}}">{{estado.nombre}}</option>
                                            {% endfor %} 
                                        </select> 
                                    </div>
                                </div>
                            </fieldset>
                        </div>  
                        <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    </form>    
                    <div class="box-body table-responsive" style="padding: 15px" >
                        <table id="admin_tablelist" class="table table-bordered table-hover adminlist" style="font-size:12px">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>N° Serie</th>
                                    <th class="no-sort">Cod. Barra</th>
                                    <th>Descripción</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Estado</th>
                                    <th class="no-sort">Inicio Vida Útil</th>
                                    <th class="no-sort">Ubicación - Edificio - Dpto - Piso</th>
                                  {#  <th class="no-sort">Eliminar</th>#}
                                    <th class="no-sort" style="width:40px;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>                        
                        </table>
                        <br>

                    </div>

                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
{% endblock %}
{% block javascripts_inline %}   
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function () {
             $('body').on('click','.eliminar-equipo',function(){
                var msj = 'Confirma eliminar este equipo?';
                if( $(this).closest('tr').hasClass('deleted') ){
                    msj = 'CONFIRMA ELIMINAR ESTE EQUIPO? \n\nEsta acción eliminará definitivamente el equipo y no puede ser revertida!!!';
                }        
                if(!confirm(msj)){
                    return false;
                }
            });
            $('.select2').on('select2:select', function () {
                $('#searchform').submit();
            });
            $('.checks').on('ifChanged', function () {
                $('#searchform').submit();
            });

            var oTable = $('#admin_tablelist').dataTable({
                "columnDefs": [
                    // These are the column name variables that will be sent to the server
                    {"name": "tipo", "targets": 0},
                    {"name": "nroSerie", "targets": 1},
                    {"name": "barcode", "targets": 2},
                    {"name": "nombre", "targets": 3},
                    {"name": "marca", "targets": 4},
                    {"name": "modelo", "targets": 5},
                    {"name": "estado", "targets": 6},
                    {"name": "vidaUtil", "targets": 7},
                    {"name": "ubicacion", "targets": 8},
                   {# {"name": "eliminar", "targets": 9},#}
                    {"name": "actions", "targets": 9},
                    {"targets": 'no-sort', "orderable": false}
                ],
                "rowCallback": function (row, data) {
                    var tr = $(row);

                    var vidautil = tr.find('.update-vidautil');
                    vidautil.datepicker();
                    vidautil.on('change', function () {
                        var fecha = $(this);
                        if (fecha.val()) {
                            changeVidaUtil(fecha);
                        }
                    });
                    var eliminar = tr.find('.update-eliminar');
                    eliminar.on('change', function (e) {
                        url = $(this).data('url');
                        changeEliminar(url, e.target.checked);
                    });

                    if (tr.find('.edit-equipo').data('deleted')) {
                        tr.addClass('deleted');
                    }
                },
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('equipo_adminlist_datatables') }}",
                    "type": "POST"
                },
                // Classic DataTables parameters
                "paging": true,
                "info": true,
                "searching": true,
                "pageLength": 25,
                "bLengthChange": false,
                "ordering": true,
                "pagingType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
                    "sProcessing": "Cargando...",
                    "sLengthMenu": "Mostrar _MENU_ registros ",
                    "sZeroRecords": "Sin datos",
                    "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
                    "sInfoEmpty": "Sin coincidencias",
                    "sInfoFiltered": "(filtrado de _MAX_ registros)",
                    "sSearch": "Buscar:"
                }
            });

        });
        function changeVidaUtil(obj){
            var parent = obj.parent();
            var data = {fecha: obj.val()};
            $.ajax({
                type: 'POST',
                url: obj.data('url'),
                data: data,
                success: function (data) {
                    if (data === 'OK') {
                        parent.html(obj.val());
                    } else {
                        fecha.val('');
                        alert(data);
                    }
                }
            });
        
        }
        
        function changeEliminar(url, check) {
            var data = {eliminar: check};
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>    
{% endblock %}