<div class='box collapsed-box {{box_color}} box-solid'>
    <div class='box-header with-border'>
        <i class="fa fa-info-circle"></i>
        <h3 class="box-title">Datos importados del sistema anterior</h3>                   
        <div class="pull-right box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
        </div>
    </div><!-- /.box-header -->
    <div class='box-body'>
        <div class="row">
            <div class="col-md-12 datos-importados">
            <fieldset>
                <!-- cargar historico -->
                <div>
                    <b>Tipo:</b> {{ imp.tipo}}
                </div>
                <div>
                    <b>N° Serie:</b> {{ imp.nroserie}}
                </div>                                    
                <div>
                    <b>Descripción:</b> {{ imp.descripcion}}
                </div>                                    
                <div>
                    <b>Marca:</b> {{ imp.marca}}
                </div>                                    
                <div>
                    <b>Modelo:</b> {{ imp.modelo}}
                </div>                                    
                <div>
                    <b>Ubicación:</b> {{ imp.ubicacion}}
                </div>                                    
                <div>
                    <b>Edificio:</b> {{ imp.edificio}}
                </div>                                    
                <div>
                    <b>Departamento:</b> {{ imp.departamento}}
                </div>                                    
                <div>
                    <b>Piso:</b> {{ imp.piso}}
                </div>                      
                <div>
                    <b>Localidad:</b> {{ imp.localidad}}
                </div>                                    
                <div>
                    <b>Estado:</b> {{ imp.estado}}
                </div>                                    
                <div>
                    <b>Concepto Entrega:</b> {{ imp.conceptoEntrega}}
                </div>                                    
                <div>
                    <b>Observaciones:</b> {{ imp.observaciones}}
                </div>                                    

            </fieldset>  
                </div>
        </div>
        
    </div>      
</div> 