<div class="table-responsive" style="padding: 15px; overflow: auto;">
    <table id="tablelist" class="table table-bordered table-hover" style="font-size:11px;">
        <thead>
            <tr>
                <th class="no-sort">Tipo</th>
                <th class="no-sort">Marca</th>
                <th class="no-sort">Modelo</th>
                <th class="no-sort">Cantidad</th>
                <th class="no-sort">Valor Unitario USD</th>
                <th class="no-sort">Total USD</th>
                <th class="no-sort">Total $</th>
            </tr>
        </thead>
        <tbody>
            {% set usd, pes, cant = 0,0,0 %}
            {% for entity in entities %}
                {% set usd, pes, cant = usd + entity.totalDolares , pes+entity.totalPesos, cant + entity.cantidad %}
                <tr>    
                    <td>{{ entity.tipo }}</td>
                    <td>{{ entity.marca }}</td>
                    <td>{{ entity.modelo }}</td>                      
                    <td>{{ entity.cantidad }}</td>                    
                    <td style="text-align:right;padding-right: 10px" > {{ entity.precioDolares|number_format(2,'.',',') }} </td>
                    <td style="text-align:right;padding-right: 10px" > {{ entity.totalDolares|number_format(2,'.',',') }} </td>
                    <td style="text-align:right;padding-right: 10px"> {{ entity.totalPesos|number_format(2,'.',',') }} </td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
        <br>
    <div class="col-md-12" id="summaryData" style="padding:0">           
        <span class="bg-red"> {{ cant }} Equipos: &nbsp;&nbsp; USD {{ usd|number_format(2,'.',',') }} &nbsp;&nbsp;-&nbsp;&nbsp; $ {{ pes|number_format(2,'.',',') }} </span> 
    </div> 
</div>