<div class="col-md-12 datos-equipo">
    <button type="button" class="pull-right closeqdata"> <i class="fa fa-close"></i> </button>
    <fieldset>
        <div>
            <b>Código de Barra:</b> {{ datos.barcode}}
        </div>
        <div>
            <b>Descripción:</b> {{ datos.nombre}}
        </div>
        <div>
            <b>Código:</b> {{ datos.codigo}}
        </div>
    </fieldset>     
    <fieldset>     
        <div>
            <b>Proveedor:</b> {{ datos.proveedor}}
        </div>
            <div>
            <b>Fecha Compra:</b> {{ datos.fechaAdquisicion }}
            </div>
            <div>
                <b>N° O.C.:</b> {{ datos.ordenCompra.txt }}
            </div>
            <div>
                <b>N° Remito:</b> {{ datos.remito}}
            </div>
            <div>
                <b>N° Factura:</b> {{ datos.factura}}
            </div>
            <div>
                <b>Precio ARG:</b> {{ datos.precioPesos|number_format(2,'.',',')}} [ Cotiz U$S: {{ datos.cotizacionEquipo|number_format(2,'.',',') }}]
            </div>
            <div>
                <b>Valorizado USD:</b> {{ datos.precioDolares|number_format(2,'.',',') }} 
            </div>
    </fieldset>  
    <fieldset>  
        <div>
            <b>Observaciones:</b> {{ datos.observaciones}}
        </div>
    </fieldset>         
    <fieldset>  
         {%if datos.ubicacionActual%}
        <div>
            <b>Ubicación:</b> {{ datos.ubicacionActual.texto}}
        </div>
        <div>
            <b>Dirección:</b>{{ datos.ubicacionActual.departamento.direccion}}
        </div>
        <div>
            <b>Localidad:</b>{{ datos.ubicacionActual.departamento.localidad.nombreCompleto}}
        </div>                                    
        <div>
            <b>Teléfono:</b>{{ datos.ubicacionActual.departamento.telefono}}
        </div>                            
        <div>
            <b>Responsable:</b> {{ datos.ubicacionActual.departamento.responsable}}
        </div> 
        <div>
            <b>Red:</b> {{ datos.ubicacionActual.redIp}}
        </div> 
        {%else%}
            <div>
            <b>Sin Ubicación</b> 
        </div> 
        {%endif%}
    </fieldset>      
</div>