<table id="tablelog" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Acción</th>
            <th rowspan="2">Fecha y hora</th>
            <th rowspan="2">Usuario</th>
            <th colspan="7">DATOS</th>
        </tr>
        <tr>
            <th>Descripción</th>
            <th>Código</th>
            <th>Código de Barra</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Stock Mínimo</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs|reverse %}
            <tr>                                
                <td>{{ log.id }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.loggedAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ log.username }}</td>
                {% if log.data %}                                
                    <td>{{ log.data.nombre }}</td>
                    <td>{{ log.data.codigo }}</td>
                    <td>{{ log.data.barcode }}</td>
                    <td>{{ log.data.tipo }}</td>
                    <td>{{ log.data.marca }}</td>
                    <td>{{ log.data.modelo }}</td>
                    <td>{{ log.data.stockMinimo }}</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>    
<script type="text/javascript">
$(document).ready(function() { 
      $('#tablelog').dataTable({
        "bAutoWidth": false,
        "order":[[0, 'asc'],[2,'asc']],
        "columnDefs": [ {
          "targets"  : 'no-sort',
          "orderable": false
        }],
        "oLanguage": {
            "oPaginate": {
                "sFirst": "<<",
                "sNext": ">",
                "sLast": ">>",
                "sPrevious": "<"
            },
            "sLengthMenu": "Mostrar _MENU_ registros ",
            "sZeroRecords": "Sin datos",
            "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
            "sInfoEmpty": "Sin coincidencias",
            "sInfoFiltered": "(filtrado de _MAX_ registros)",
            "sSearch": "Buscar:"
        }
    });     
});
</script>     