{% extends "base.html.twig" %}
{% block page_content %}    
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-solid {{box_color}}'>
                <div class='box-header'>
                    <h3 class='box-title'><i class="fa fa-briefcase"></i> &nbsp; Requerimiento de Soporte</h3>                    
                    <div class="pull-right box-tools"> 
                        {% if app.user.access('view_logs') %}
                        <button type="button" class=" hidden btn btn-default btn-sm seeHistory" data-toggle="tooltip" title="Historial de cambios"
                            data-id="{{requerimiento.id}}" data-url="{{path('get_insumo_logs')}}"  >      <i class="fa fa-history"></i></button>                      
                         {% endif %}  
                    </div>                   
                </div><!-- /.box-header -->
                <div class='box-body'> 
                {{ form_start(form) }}
                {% include "form-notification.html.twig" %}
                    
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li {% if not app.session.get('otid') %}class="active" {% endif %}>
                                <a href="#tab_requerimiento" data-toggle="tab"> Requerimiento N° {{ ("%06d" | format(requerimiento.id)) }}
                                {% if requerimiento.altaPrioridad %}
                                <i class="fa fa-exclamation-circle text-red"></i>
                                {% endif %}
                                </a>
                            </li>
                            {% if  app.user.access('ordentrabajo') %}
                            {% for ot in form.ordentrabajoAsociadas %}
                            <li {% if app.session.get('otid')==ot.vars.data.id %}class="active" {% endif %}>
                                <a href="#tab_{{ot.vars.data.id}}" data-toggle="tab">OT N° {{ ot.vars.data.nroOT }}
                                {% if ot.vars.data.altaPrioridad %}
                                <i class="fa fa-exclamation-circle text-red"></i>
                                {% endif %}
                                </a>                                 
                            </li>
                            {% endfor %} 
                            {% endif %}                             
                            {% if  app.user.access('ordentrabajo_new') %}
                            <li class="pull-right">
                                <a href="javascript:void(0)" data-url="{{ path('render_asignar_requerimiento',{'id':requerimiento.id}) }}" data-nro="{{ "%06d" | format(requerimiento.id)}}" class="text-blue asignar-req" data-toggle="tooltip" title="Crear nueva OT asociada al requierimiento" ><i class="fa fa-briefcase"></i> CREAR NUEVA OT</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane {% if not app.session.get('otid') %}active {% endif %}" id="tab_requerimiento">
                                 {% include "AppBundle:Requerimiento:requerimiento-edit.html.twig" %}                                  
                            </div>
                            {% if  app.user.access('ordentrabajo') %}
                            {% for otform in form.ordentrabajoAsociadas %}
                                <div class="tab-pane ordentrabajo {% if app.session.get('otid')==otform.vars.data.id %}active{% endif %}" id="tab_{{otform.vars.data.id}}">
                                    {% set idx = loop.index - 1 %}
                                   {% include "AppBundle:OrdenTrabajo:ordentrabajo-edit.html.twig" with {'otform':otform} %} 
                                </div> 
                            {% endfor %}    
                            {% endif %}    
                            <!-- /.tab-pane -->

                        </div>
                        <!-- /.tab-content -->
                    </div>    
                            
                    {{ form_errors(form) }}
                    <div style="display:none;">    
                        {{ form_end(form) }}                
                    </div> 
                    {{ form(delete_form) }}
                            
                </div>                                                   
            </div><!-- /.box -->             
        </div><!-- /.col-->        
    </div><!-- ./row --> 
    
    {{ app.session.set('otid','') }}
{% endblock %}
{% block javascripts_inline %}   
    {{parent()}}
<script src="{{ asset('bundles/app/bootstrap.file-input.js') }}" type="text/javascript"></script>    
<script type="text/javascript">   
    var $holder;    
$(document).ready(function() {     
    $(document).keypress(function(e) {        
       var keycode = (e.keyCode ? e.keyCode : e.which);
        if(keycode == '13' && !$(e.target).is("textarea") ){ e.preventDefault(); }
    }); 
    $('[id$="_altaPrioridad"]').closest('label').css('font-weight','bold');
    $('[id$="_hora"]').timepicker({ 'timeFormat': 'G:i' });
     $('[type="submit"]').on('click',function(){
         $('#appbundle_requerimiento_otid').val( $(this).data('id') );
     });
   /* $('table tbody').each(function(){
        $(this).find('tr').each(function(i){
            $(this).find('.ordTd').html(i + 1);            
        });
    });*/        
    $('.select2-container').css('width','100%');
// FORM REQUERIMIENTO                     
    var $formdata = $('[name="appbundle_requerimiento"]').serialize();
    $('.printRequerimiento').on('click',function(e){
        var $now = $('[name="appbundle_requerimiento"]').serialize();
        if( !($formdata == $now) ){
            alert('Debe guardar los cambios antes de imprimir!');
            e.stopPropagation();     
            return false;
        }
    });    
    $('.printOrdentrabajo').on('click',function(e){
        var $now = $('[name="appbundle_requerimiento"]').serialize();
        if( !($formdata == $now) ){
            alert('Debe guardar los cambios antes de imprimir!');
            e.stopPropagation();     
            return false;
        }        
    });    

    $('.asignar-req').on('click',function(){
      var options = {
           url: $(this).data('url'),
           title:'Requerimiento',
           subtitle: ' N°'+$(this).data('nro'),
           size: eModal.size.sm,
           buttons: [
               {text: 'Asignar', style: 'success', close: true, 
                   click: function(){    
                       data = { req:$('#reqId').val(), tec:$('#tecId').val(), reqform:true };
                       $.post("{{path('ajax_asignar_requerimiento')}}", data, function(data){
                            if(data==='ERROR'){
                                alert('No puedo realizarse la acción.');
                            }else{
                                window.location.reload(true);
                            }
                        });
                   } },
               {text: 'Cancelar', style: 'danger', close: true }
           ]
       };
       eModal.ajax(options);
    });  

    $('.addEquipoDetalle').on('click',function(){
        var sol = '{{requerimiento.solicitante.id}}';
        var options = {
           url: $(this).data('url'),
           data: {sol: sol },
           title:'Agregar Equipo',
           size: eModal.size.xl,
           buttons: [
               {text: 'Agregar', style: 'success', close: true, 
                   click: function(){  
                       form = $('#addEquipoCreate form');
                       form.submit();
                   } },
               {text: 'Cancelar', style: 'danger', close: true }
           ]
       };
       eModal.ajax(options);   
    });
    $('.delReqDetalle').on('click',function(){
        if( confirm('Desea eliminar este equipo del requerimiento?')){
            $.ajax({
                    url:"{{ path('delete_requerimiento_detalle') }}",
                    data: {'id': $(this).data('id') },
                    type: 'POST',
                    success: function(data){
                       if(data == 'OK'){
                           window.location.reload(true);
                       }else{                                                                                                      
                          alert(data);   
                        }     
                    }
                });
        }
    });
    

// FORM ORDENTRABAJO

    $('.ordentrabajo').find('[id$="_tecnico"]').on('select2:selecting',function(e){      
        if( confirm("Confirma derivar esta orden de trabajo a "+e.params.args.data.text+"?") ){            
            var otId = $(this).closest('.row').find('[type="submit"]').data('id');
            $.ajax({
                    url:"{{ path('change_tecnico') }}",
                    data: {'id': otId, 'tec': e.params.args.data.id },
                    type: 'POST',
                    success: function(data){
                       if(data == 'OK'){
                           alert('La OT fue derivada con éxito.');
                           window.location.reload(true);
                       }else{                                                                                                      
                          alert(data);   
                          e.preventDefault(); 
                        }     
                    }
                });
        }else{
          e.preventDefault();    
        }
        $(this).select2('close'); 
    });
    $('.viewTareas').on('click',function(){
        if( parseInt( $(this).html())>0 ){
            $(this).closest('tr').next('tr').toggleClass('hidden');            
        }
    }); 
    $('.cancelar-ot').on('click',function(){
        
    });
    
        // documentos
    $('input[type=file]').bootstrapFileInput();
   /* $('.file-input-wrapper').removeClass('form-control');
    $('.file-input-wrapper').addClass('btn-sm');
    $('input[type=file]').removeClass('form-control');*/
     
    $('.add-documento').on('click',function(e){
        e.preventDefault();
        $holder = $(this).closest('table').find('.formDocumentos');
        addNewDoc($holder);
    });
    $holder = $('.formDocumentos');
    $holder.find('.delTd').each(function() {
        addDocDeleteLink($(this));
    });    
    
    // guardar documentos en ot cerrada add-documento-ajax
    $('.add-documento-ajax').on('click',function(e){  
        e.preventDefault();                        
        var url = $(this).data('url');                        
        var obj = $(this);
        var url = obj.data('url');
        var options = {
           url: url,           
           title:'Agregar Documento',
           size: eModal.size.sm,
           buttons: [
               {text: 'Agregar', style: 'success', close: true, 
                   click: function(){  
                       
                        var url = $('[name="appbundle_documentacion"]').attr('action');
                        var form = document.getElementById("appbundle_documentacion");
                        var formdata = new FormData(form);
                        formdata.append('file', document.getElementById('appbundle_documentacion_file').files[0]);                             
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'JSON',
                            data: formdata ,
                            processData: false,
                            contentType: false,
                            success: function(data, textStatus, jqXHR)
                            {
                               if( data.msg == 'OK'){
                                   console.log( obj.closest('table').find('.collectionHolder'))
                                   obj.closest('table').find('.collectionHolder').append( data.html )
                               }else{
                                   alert(data)
                               }
                            }                                
                        });                       
                   } },
               {text: 'Cancelar', style: 'danger', close: true }
           ]
       };
        
        eModal.ajax(options);
    });
    $('.delTd-ajax a').on('click', function(e) {
        var url = $(this).data('url');
        var tr = $(this).closest('tr');
        if (confirm('Desea eliminar este item?')) {
            e.preventDefault();
            // ajax
            $.ajax({
                url: url,                
                type: 'DELETE',
                success: function(data){
                   if(data == 'OK'){
                       tr.remove();
                        $holder = $(this).closest('tbody');
                        var index = $holder.data('index');
                        $holder.data('index', index - 1);
                   }else{                                                                                                      
                      alert(data);                          
                   }     
                }
            });
                        
        }
    });
    
});
function addNewDoc($holder){
    var prototype = $holder.data('prototype');
    var index = $holder.data('index');   
    var newForm = prototype.replace(/itemdoc/g, index);
    $holder.append(newForm);
    $holder.data('index', index + 1);
    addDocDeleteLink($holder.find('.delTd').last());
    $holder.find('input[type=file]').last().bootstrapFileInput();
    var d = new Date();
    $holder.find('.dateTd').last().html( $.datepicker.formatDate('dd/mm/yy', new Date()) )
    $holder.find('.tecTd').last().html( '{{app.user.username}}' )    
}
function addDocDeleteLink($itemFormTd){            
    var $removeFormA = jQuery('<a href="javascript:void(0)" title="Quitar" tabIndex="-1" class="btn btn-primary btn-xs"><i class="fa fa-trash"></i></a>');
    $itemFormTd.append($removeFormA);
    $removeFormA.on('click', function(e) {
        if (confirm('Desea eliminar este item?')) {
            e.preventDefault();
            $itemFormTd.parent().remove();
            var index = $holder.data('index');
            $holder.data('index', index - 1);            
        }
    });
 }
</script>    
{% endblock %}