   <div class="box box-default">    
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-briefcase"></i> &nbsp;Órdenes de Trabajo Abiertas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body"> 
            
            <table class="table no-margin">                
                <thead>
                    <tr>                        
                        <th> Fecha/Hora </th>
                        <th> N° OT </th>
                        <th> N° JIRA </th>
                        <th> Descripción </th>
                        <th> Tiempo </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ot in app.user.ordenesAbiertasTablero %}
                        <tr class="{%if ot.altaPrioridad %}altaPrioridad{%endif%}">
                            <td>{{ ot.fechaOrden|date('d/m/Y H:i') }}</td>
                            <td><a href="javascript:void(0)" class="view-ot" data-nro="{{ ot.nroOT }}" data-url="{{ path('soporte_ordentrabajo_show', { 'id': ot.id }) }}" data-toggle="tooltip" title="Ver OT">{{ ot.nroOT }}</a></td>
                            <td>{{ ot.jira }}</td>
                            <td style="width:260px">{{ ot.descripcion }}</td>
                            <td>{{ ot.tiempo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>                        
            </table>         
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->