<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-bar-chart"></i>

        <h3 class="box-title">Tipos de Equipos por Sector y tipo de Incidencia</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
      <!--  <div class="col-md-6">  
            <div class="tabla-tipoincidencia">
                <table class="table-resumen table table-bordered table-hover">
                    <tr>
                        <th> Area Solicitante &nbsp; <i class="fa fa-caret-right"></i>&nbsp; Tipo de Incidencia <br><i class="fa fa-caret-right"></i>&nbsp; Tipo de equipo 
                        <i class="fa fa-plus-square expAll pull-right"></i></th>
                        <th> Recuento </th>
                        <th> Porcentaje </th>
                    </tr>  
                    {% set sumtotal=0 %}
                    {% for item in tablaSectorTipoIncidencia %}
                        <tr id="{{item.id}}" data-padre="{{ item.padre }}" class="tipo{{item.tipo}} id{{item.padre}} {% if item.tipo in ['I','M'] %}hidden {% endif %}" data-id="{{ item.id }}">
                            <td>{{ item.nombre }} {% if item.tipo in ['S','M'] %} <i class="fa fa-plus verDetalle pull-right" data-tipo="{{ item.tipo }}"></i> {% endif %}</td>
                            <td>{{ item.recuento }}</td>
                            <td>{% if item.tipo=='S' %} {{ ((item.recuento*100)/totalSectorTipoIncidencia)|number_format(2,'.',',') }}% 
                                {% set sumtotal = sumtotal + ((item.recuento*100)/totalSectorTipoIncidencia) %}
                                {% endif %}
                            {% if item.tipo=='T' %}{{ sumtotal }}%{% endif %}
                            </td>                            
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>-->
       <div class="col-md-6">  
            <div class="tabla-tipoincidencia">
                <table class="table-resumen table table-bordered table-hover">
                    <tr>
                        <th> Tipo de Incidencia &nbsp; <i class="fa fa-caret-right"></i>&nbsp; Area Solicitante <br><i class="fa fa-caret-right"></i>&nbsp; Tipo de equipo 
                        <i class="fa fa-plus-square expAll pull-right"></i></th>
                        <th> Recuento </th>
                        <th> Porcentaje </th>
                    </tr>  
                    {% set sumtotal=0 %}
                    {% for item in tablaTipoIncidenciaSector %}
                        <tr id="{{item.id}}" data-padre="{{ item.padre }}" class="tipo{{item.tipo}} id{{item.padre}} {% if item.tipo in ['I','M'] %}hidden {% endif %}" data-id="{{ item.id }}">
                            <td>{{ item.nombre }} {% if item.tipo in ['S','M'] %} <i class="fa fa-plus verDetalle pull-right" data-tipo="{{ item.tipo }}"></i> {% endif %}</td>
                            <td>{{ item.recuento }}</td>
                            <td>{% if item.tipo=='S' %} {{ ((item.recuento*100)/totalTipoIncidenciaSector)|number_format(2,'.',',') }}% 
                                {% set sumtotal = sumtotal + ((item.recuento*100)/totalTipoIncidenciaSector) %}
                                {% endif %}
                            {% if item.tipo=='T' %}{{ sumtotal }}%{% endif %}
                            </td>                            
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.box-body-->
</div>