<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <style>
     .table-resumen{
        font-size:13px;
    }
    .table-resumen td:not(:first-child),.table-resumen th:not(:first-child){
        text-align: right;
        padding:2px 10px 2px 2px;
        vertical-align: middle;
    }
    .tipoS td{
        font-weight: bold;
    }
    .tipoS{
        background-color: antiquewhite;
        font-size: 15px;
        text-transform: uppercase;
    }
    .tipoM td:first-child{
        padding-left: 15px;
    }
    .tipoM{        
        font-size: 14px;
    }   
    .header{
        font-size: 14px;
        font-weight: bold;
        background-color: lightgray;
    }
    .tipoT{
        font-size: 14px;
        font-weight: bold;
        background-color: lightgray;
    }
   </style>
   <body  >     
      <table>
          <tr>
              <th>REPORTE DE ENTREGA DE INSUMOS</th>
          </tr>
        </table>  
        <table>  
            <tr><td>Ubicaciones: {{ filtro.ubicaciones|trim }}</td></tr>
            <tr><td>Edificios: {{ filtro.edificios|trim }} </td></tr>
            <tr><td>Departamentos: {{ filtro.departamentos|trim }} </td></tr>
            <tr><td>Tipos de Insumos: {{ filtro.tiposInsumos}}</td></tr>
            <tr><td>Período: {{ filtro.desde}} - {{ filtro.hasta }}</td></tr>
            </tr>
        </table>  
            
        <table class="table-resumen">
            <tr>
                <th> Sector > Tipo de Insumo </th>
                <th> Total </th>                        
                <th> Porcentaje </th>                        
            </tr>  
            {% set sumtotal=0 %}
            {% for item in datos.tabla %}
                <tr id="{{item.id}}" class="tipo{{item.tipo}}">
                    <td>{{ item.nombre }} </td>
                    <td>{{ item['recuento'] }}</td>
                    <td>{% if item.tipo=='S' %} {{ ((item['recuento']*100)/datos.total)|number_format(2,'.',',') }}% 
                        {% set sumtotal = sumtotal + ((item['recuento']*100)/datos.total) %}
                        {% endif %}
                            {% if item.tipo=='T' %}{{ sumtotal }}%{% endif %}
                        </td>                            
                </tr>
            {% endfor %}
        </table>                                 

   </body>
</html>