<div class="box box-solid">            
    <div class="box-body border-radius-none">                
        <fieldset style="padding-bottom:10px;">
            <div class="col-md-3">
                <span><strong>Fecha Compra:</strong>&nbsp;{{entity.fechaCompra|date('d-m-Y')}}</span>                        
            </div>
            <div class="col-md-3">
                <span><strong>Razón Social:</strong>&nbsp;{{entity.razonSocial}}</span>                        
            </div>
            <div class="col-md-2">
                <span><strong>N° Orden:</strong>&nbsp;{{entity.ordenCompra}}</span>
            </div>
            <div class="col-md-4">
                <span><strong>Área Req.:</strong>&nbsp;{{entity.solicitante}}</span>
            </div>
        </fieldset>    
        <fieldset style="padding-bottom:10px;">    
            <div class="col-md-4">
                <span><strong>Proveedor:</strong>&nbsp;{{entity.proveedor}}</span>
            </div>
            <div class="col-md-3">
                <span><strong>N° Factura:</strong>&nbsp;{{entity.nroFactura}}</span>                        
            </div>
            <div class="col-md-2">
                {% if entity.fechaEnvioProveedor %}
                    <span><strong>Pedido el:</strong>&nbsp;{{entity.fechaEnvioProveedor|date('d-m-Y')}}</span>
                {% endif %}    
            </div>
            <div class="col-md-3">
                <span><strong>Estado:</strong>&nbsp;{{entity.estado}}</span>
            </div>    
        </fieldset>
        {% if entity.descripcion %}
            <fieldset style="padding-bottom:10px;">
                <div class="col-md-12">
                    <span><strong>Observaciones:</strong>&nbsp;{{entity.descripcion}}</span>                        
                </div>                                       
            </fieldset>
        {% endif %}
    </div>  
    {% include "admin-form-data.html.twig" with {'table':entity} %}  
</div>
<div class="col-md-12">
    <div class="nav-tabs-custom" style="box-shadow:none;margin-bottom:0;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#detalle" data-toggle="tab"><strong>Detalle de la Compra</strong></a></li>
                {% if entity.recepciones|length>0 %}
                    {% for entrega in entity.recepciones %}
                    <li><a href="#entrega{{ loop.index }}" data-toggle="tab"> Entrega N° {{ loop.index }}</a></li>   
                    {% endfor %}
                {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="detalle">

                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:30px;text-align:center">#</th>                          
                            <th>Detalle </th>
                            <th style="width:8%;">Cantidad</th>
                            <th style="width:10%;">Precio Unit.</th>
                            <th style="width:10%;">Total</th>
                                {% if entity.estado != 'NUEVO' %}
                                <th style="width:10%;">Recibido</th>
                                {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in entity.detalles %}
                            <tr>
                                <td style="vertical-align:middle;padding-left:10px;font-weight:bold">{{loop.index}}</td>
                                <td> <i class="fa {% if item.claseDetalle=='I' %} fa-puzzle-piece {%else%}  fa-desktop {%endif%}"></i> &nbsp; {{ item.descripcion }}</td>
                                <td style="text-align:right" >{{ item.cantidad|number_format(0,'.',',') }} </td>                                
                                <td style="text-align:right"><small style='float:left' >{{ item.moneda }}</small> {{ item.precio|number_format(2,'.',',') }} </td>
                                <td style="text-align:right">{{ (item.cantidad*item.precio)|number_format(2,'.',',') }} </td>
                                {% if entity.estado != 'NUEVO' %}
                                    <td style="text-align:right" >{{ item.recibido|number_format(0,'.',',') }} </td> 
                                {% endif %}
                            </tr>
                        {% endfor %}           
                    </tbody>
                    <!-- <tfoot>
                         <th colspan="4" style="text-align:right" >TOTAL</th>
                         <th style="text-align:right" >{{ entity.total|number_format(2,'.',',') }}</th>
                    {% if entity.estado != 'NUEVO' %}<th></th>{% endif %}
                </tfoot>-->
                </table>    

            </div>
            <!-- /.tab-pane -->
            {% if entity.recepciones|length>0 %}
                {% for entrega in entity.recepciones %}
                    <div class="tab-pane" id="entrega{{ loop.index }}">
                        {% include "AppBundle:Compra:partial-recibido.html.twig" %}
                        {% include "admin-form-data.html.twig" with {'table':entrega} %}  
                    </div>                                               
                {% endfor %}
            {% endif %}                                

        </div>
        <!-- /.tab-content -->
    </div>                                
</div>                                                