

<div id="modal-edit-recepcion">
{{ form_start(form, {'attr': {'id': 'appbundle_recepcioncompra'}}) }}
{% include "form-notification.html.twig" %}
<div class="col-md-12">
    <fieldset>
         <div class="col-md-2">
            {{ form_row(form.compra.fechaCompra) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.compra.nroFactura) }}
        </div> 
        <div class="col-md-7">
            {{ form_row(form.compra.descripcion) }}
        </div> 
    </fieldset>
        <hr style="border: 1px solid #3c8dbc; margin-top:10px">
    <fieldset>
        <div class="col-md-3">
            {{ form_row(form.fechaRecepcion) }}
        </div> 
        <div class="col-md-3">
            {{ form_row(form.nroRemito) }}
        </div>  
        <div class="col-md-6">
            {{ form_row(form.file) }}
            {{ form_errors(form.file) }}
            {% if entity.webPath %}
                <a href="{{ asset(entity.webPath)}}" target="_blank"> <i class="fa fa-file-text"></i> Ver Comprobante </a>                        
            {% endif %}</span>
        </div> 
    </fieldset>     
    <fieldset>
        <div class="col-md-4">
            <div class="form-group ">
                <label>Depósito:</label>
                <span class=" form-control" disabled='disabled'>{{ entity.deposito }} </span>           
            </div>
        </div>
        <div class="col-md-8">
            {{ form_row(form.observaciones) }}
        </div> 
    </fieldset>     
</div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-recibir">
        <thead>
            <tr>
                <th style="width:30px;text-align:center">#</th>
                <th>Detalle</th>                
                <th style="width:13%;">Precio Unit.</th>
                <th style="width:8%;">Pendiente</th>
                <th style="width:10%;">Recibido</th>
            </tr>
        </thead>
        <tbody>
            {% for item in form.detalles %}
                {% set clase = item.vars.data.compraDetalle.claseDetalle  %}
                <tr {% if clase=='E' %}data-eqid="{{ item.vars.data.equipo.id }}"{% endif %}>
                    <td style="vertical-align:middle;padding-left:10px;font-weight:bold">{{loop.index}}</td>
                    <td> <i class="fa {% if clase=='I' %} fa-puzzle-piece {%else%}  fa-desktop {%endif%}"></i> &nbsp; {{ item.vars.data.descripcion }}</td>                   
                    <td class="precioTd"><div class="input-group">
                            {{ form_widget(item.precio, { 'attr': {'class' : 'number','min':'0'} }) }}                    
                            <span class="input-group-btn" style='width:46px'>
                                {{ form_widget(item.moneda, { 'attr': {'style' : 'padding:0;font-size:11px'} }) }}   
                            </span>              
                        </div>
                    </td>
                    <td class="cant-pendiente" style="text-align:right" >{% if clase=='E' %} 0 {% else %} {{ item.vars.data.compraDetalle.cantidadPendiente|number_format(0,'.','') }} {% endif %}</td>                                
                    <td data-cantidad="{% if clase=='I' %}{{ item.vars.data.cantidad }}{% else %} 0{% endif %}">
                        {% if clase=='E' %} {{ form_widget(item.cantidad, { 'attr': {'disabled' : 'disabled'} }) }}
                        {% else %} {{ form_widget(item.cantidad, { 'attr': {'class' : 'number','min':'0'} }) }} {% endif %}  
                    </td>
                </tr>
            {% endfor %}           
        </tbody>
    </table>    

    <div style="display:none">    
        {{ form_end(form) }}
    </div>         
</div>         
 
    