<tr class="item" style="background-color: #f9f9f9" >
    <td class="ordTd"></td>
    <td>{{ item.equipo.barcode }}</td>
    <td>{{ item.equipo.textoOT }}</td>    
    <td>{{ item.descripcion }}</td> 
    <td><input type="checkbox" class="ckEq" value="{{ item.id }}"  id="ck{{item.id}}" /></td> 
</tr>