<div class='col-md-12 no-padding'>
    <div class='box box-solid {{box_color}}'>
        <div class='box-header'>
            <h3 class='box-title'><i class="fa fa-exclamation-triangle"></i> &nbsp;  Reclamo N째 {{ entity.nroReferencia }}  </h3>                
        </div><!-- /.box-header -->
        {{ form_start(form) }}
        <div class='box-body'>
            {% include "form-notification.html.twig" %}
            <div class="row">
                {% if entity.tipoProveedor %}
                <div class="col-md-12 pad"> &nbsp;&nbsp;&nbsp; <strong> {{ entity.iconoProveedor|raw }} &nbsp; {{ entity.nombreProveedor }} &nbsp; {{ entity.tipoConexionProveedor }}</strong>  </div>
                {% endif %}
                <div class="col-md-12">
                    <fieldset>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label class="required">Fecha/hora:</label>
                                <div class="input-group">                                        
                                    <input style="text-align:center" disabled="disabled" type="text" class="form-control"  value="{{ "now"|date('d-m-Y H:i') }}">
                                </div>
                            </div>
                        </div>    
                        <div class="col-md-3">
                            {{ form_row(form.nroReferencia, { 'attr': {'autofocus':'autofocus' } }) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.referente) }}
                        </div>   
                        {% if entity.id  %}
                            <div class="col-md-2">
                               {{ form_row(form.abierto) }}
                            </div>           
                        {%endif%}                            
                    </fieldset>                        
                </div>  
                <div class="col-md-12">
                    <fieldset>
                        <div class="col-md-12">
                            {{ form_row(form.auxiliar) }}
                        </div>  
                        <div class="col-md-12">
                            <h4> Detalle Hist처rico: </h4>
                            <table class="table">
                                <tr>
                                    <th style="width:15%">Fecha/Hora</th>
                                    <th style="width:15%">N째 Referencia</th>
                                    <th style="width:15%">Referente</th>
                                    <th>Descripci처n</th>
                                    <th style="width:15%">Usuario</th>
                                </tr>
                                {% for res in resumen %}
                                    <tr>
                                        <td>{{ res.fecha|date('d-m-Y H:i') }}</td>
                                        <td>{{ res.nroReferencia }}</td>
                                        <td>{{ res.referente }}</td>
                                        <td>{{ res.detalle|nl2br }}</td>
                                        <td>{{ res.usuario }}</td>
                                    </tr>                            
                                {% endfor %}
                            </table>
                        </div>
                    </fieldset>                        
                </div>  
            </div>                                  
            <div class="box-footer">
                {% if  false %}
                    <a type="button" class="btn btn-app delete" href="javascript:void(0)"><i class="fa fa-trash-o"></i> Eliminar</a>
                {%endif%}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-app saveReclamo"><i class="fa fa-save"></i> Guardar</button>
                    <a type="button" class="btn btn-app cancelReclamo" href="#"><i class="fa fa-reply"></i> Cancelar</a>
                </div>
            </div>     
            <div style="display:none">    
                {{ form_end(form) }}
            </div>                
            {% if false  %}
                {{ form(delete_form) }}
            {%endif%}
        </div><!-- /.box -->
    </div><!-- /.col-->        
</div>
